[package]
name = "rproxy"
version = "0.1.0"
edition = "2021"

[dependencies]
eframe = { version = "0.29", default-features = true }
sysinfo = "0.32"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
dirs = "5"

[profile.release]
lto = true
codegen-units = 1
